@page "{id:int}"
@model ContosoUniversity.WebApplication.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.lastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.lastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.firstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.firstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.enrollmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.enrollmentDate)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Student.id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>