@page
@model ContosoUniversity.WebApplication.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Students";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>

@if (Model.Student.count > 0)
{
    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name:
                <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-page="./Index">Back to full List</a>
            </p>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Student.students[0].lastName)</th>
                <th>@Html.DisplayNameFor(model => model.Student.students[0].firstName)</th>
                <th>@Html.DisplayNameFor(model => model.Student.students[0].enrollmentDate)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Student.students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.enrollmentDate)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>No data</p>
}